# Google Drive API configuration
DRIVE_CREDENTIALS_FILE=credentials.json
DRIVE_INBOX_FOLDER_ID="1VmU-c5O9WX_H-Ls6tGCjV5_bgJgZKkv9"
DRIVE_ARCHIVE_FOLDER_ID="1tH0nF_Uk1e9pVXIRLyUEdoa5rEr2MpW6"

# Gemini API configuration (required for PDF extraction if done automatically)
GEMINI_API_KEY=your_gemini_api_key_here
